<footer class="py-10">
  <div class="text-center">
    {{/* Copyright */}}
    <p class="text-sm text-neutral-500 dark:text-neutral-400">
      {{- with .Site.Copyright }}
      {{ . | emojify | markdownify }}
      {{- else }}
      &copy;
      {{ now.Format "2006" }}
      {{ .Site.Author.name | markdownify | emojify }}
      {{- end }}
    </p>
    {{/* ICP */}}
    <p class="text-xs text-neutral-500 dark:text-neutral-400">
      <a class="hover:underline hover:decoration-primary-400 hover:text-primary-500" href="https://beian.miit.gov.cn/"
        target="_blank" rel="noopener noreferrer">蜀ICP备17037841号-1</a>
    </p>
  </div>
  {{/* Extend footer - eg. for extra scripts, etc. */}}
  {{ if templates.Exists "partials/extend-footer.html" }}
  {{ partialCached "extend-footer.html" . }}
  {{ end }}
</footer>